package repository

import (
	"github.com/jackc/pgx/v5"

	⟦.Package⟧domain "⟦.Module⟧/internal/modules/⟦.Package⟧/domain"
)

const ⟦.Var⟧Columns = `id, owner_id, ⟦.Columns⟧, version, created_at, updated_at`

func scan⟦.Ident⟧(row pgx.CollectableRow) (⟦.Package⟧domain.⟦.Ident⟧, error) {
	var p ⟦.Package⟧domain.⟦.Ident⟧
	err := row.Scan(&p.ID, &p.OwnerID, ⟦range .Fields⟧&p.⟦.Ident⟧, ⟦end⟧&p.Version, &p.CreatedAt, &p.UpdatedAt)
	p.CreatedAt, p.UpdatedAt = p.CreatedAt.UTC(), p.UpdatedAt.UTC()
	return p, err
}
