package delivery

import "context"

func (h handlers) delete⟦.Ident⟧(ctx context.Context, in *⟦.Var⟧IDInput) (*struct{}, error) {
	return nil, h.svc.Delete⟦.Ident⟧(ctx, ⟦if .Org⟧in.OrgID, ⟦end⟧in.ID)
}
