package delivery

import (
	"context"

	"⟦.Module⟧/internal/modules/⟦.Package⟧/domain"
)

type create⟦.Ident⟧Input struct {
⟦- if .Org⟧
	⟦.ScopeParamField⟧ string `path:"⟦.ScopePathParam⟧" maxLength:"64" example:"⟦.ScopeIDExample⟧"`
⟦- end⟧
	Body struct {
⟦- range .Fields⟧
⟦- if .IsEnum⟧
		⟦.Ident⟧ string `json:"⟦.Name⟧,omitempty" enum:"⟦.EnumTag⟧" default:"⟦.FirstValue.Value⟧"`
⟦- else if eq .MinLength 1⟧
		⟦.Ident⟧ string `json:"⟦.Name⟧" minLength:"1" maxLength:"⟦.MaxLength⟧"⟦if .Unique⟧ doc:"⟦if $.Org⟧Unique in the ⟦$.ScopeName⟧⟦else if $.Filtered⟧Unique among your ⟦$.PluralHuman⟧⟦else⟧Unique among all ⟦$.PluralHuman⟧⟦end⟧, ignoring case"⟦end⟧`
⟦- else⟧
		⟦.Ident⟧ string `json:"⟦.Name⟧,omitempty" maxLength:"⟦.MaxLength⟧"`
⟦- end⟧
⟦- end⟧
	}
}

func (h handlers) create⟦.Ident⟧(ctx context.Context, in *create⟦.Ident⟧Input) (*⟦.Var⟧Output, error) {
	⟦.Var⟧, err := h.svc.Create⟦.Ident⟧(ctx, ⟦if .Org⟧in.⟦.ScopeParamField⟧, ⟦end⟧domain.⟦.Ident⟧Fields{
⟦- range .Fields⟧
		⟦.Ident⟧: ⟦if .IsEnum⟧domain.⟦.Ident⟧(in.Body.⟦.Ident⟧)⟦else⟧in.Body.⟦.Ident⟧⟦end⟧,
⟦- end⟧
	})
	if err != nil {
		return nil, fieldErrors(err, "body")
	}
	return &⟦.Var⟧Output{Body: toResponse(⟦.Var⟧)}, nil
}
