package usecase

import (
	"context"

	"⟦.Module⟧/internal/modules/⟦.Package⟧/domain"
)

⟦- if .Org⟧
// Get⟦.Ident⟧ returns one of the organisation orgID's ⟦.PluralHuman⟧.
func (s *Service) Get⟦.Ident⟧(ctx context.Context, orgID, id string) (domain.⟦.Ident⟧, error) {
	if _, err := memberID(ctx, orgID); err != nil {
		return domain.⟦.Ident⟧{}, err
	}
	⟦.Var⟧, err := s.store.Select⟦.Ident⟧(ctx, orgID, id, false)
⟦- else⟧
// Get⟦.Ident⟧ returns one of the signed-in user's ⟦.PluralHuman⟧.
func (s *Service) Get⟦.Ident⟧(ctx context.Context, id string) (domain.⟦.Ident⟧, error) {
	owner, err := ownerID(ctx)
	if err != nil {
		return domain.⟦.Ident⟧{}, err
	}
	⟦.Var⟧, err := s.store.Select⟦.Ident⟧(ctx, owner, id, false)
⟦- end⟧
	if err != nil {
		return domain.⟦.Ident⟧{}, storeError("get", err)
	}
	return ⟦.Var⟧, nil
}
